/* تنظیمات عمومی */
body {
    font-family: Arial, sans-serif;
    background-image: url("ثبت نام خوارزمی.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: rigth;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: rigth;
    align-items: rigth;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 14px;
    color: #555;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button.submit-btn {
    background-color: #ffffff;
    color: rgb(58, 163, 55);
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.submit-btn:hover {
    background-color: #45a049;
}

p.login-link {
    margin-top: 20px;
    font-size: 14px;
}

p.login-link a {
    text-decoration: none;
    color: #4CAF50;
}

p.login-link a:hover {
    text-decoration: underline;
}
 form {
    font-size: 14px;
    color: #555;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: right;
 }
